table {
    width: 100%;
    margin-top: 30px;
    height: calc(100vh - 59px);
}
/* pour 5 ligne*/
table td {
    padding: 10px;
    border: 1px solid black;
    vertical-align: top;
    width: 14.29%;
    height: 18%;
}
/*6 ligne*/
.table6weeks td {
    height: 15%;
}
/*4ligne*/
.table4weeks td {
    height: 22.5%;
}
th {
    background-color: lightgray;
    height: 5%;
}
.gray {
    background-color: lightgray;
    border: none;
}
.blocgray {
    background-color: lightgray;
    border: none;
}